body {
  margin: 0;
  background: black;
  font-family: Arial, Helvetica, sans-serif;
}

.controlsContainer {
  position: fixed;
  display: flex;
  justify-content: right;
  width: 100%;
  z-index: 1000;
}

.metadata {
  margin: 1em;
  padding: 0.5em;
  position: fixed;
  top: 10px;
  left: 1em;
  right: auto;
  z-index: 1000;
  font-size: 1em;
  font-weight: 500;
  text-align: left;
}

.metadata span {
  display: block;
  margin-bottom: 1em;
  color: gray;
  white-space: pre-wrap;
}

.controls {
  margin: 1em;
}

.svgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  height: 100dvh;
}
