[data-theme="light"] {
  color-scheme: light;
  --page-background-color: lightgray;
  --panel-background-color: white;
  --panel-shadow-color: gray;
  --text-color: black;
  --color-picker-border: black;

  --theme-toggle-emoji: "🌞";
}

[data-theme="dark"] {
  color-scheme: dark;
  --page-background-color: black;
  --panel-background-color: #1e1e1e;
  --panel-shadow-color: #1e1e1e;
  --text-color: white;
  --color-picker-border: white;

  --theme-toggle-emoji: "🌚";

  /* Color Picker Dark Mode */
  --cp-bg-color: #333;
  --cp-border-color: white;
  --cp-text-color: white;
  --cp-input-color: #555;
  --cp-button-hover-color: #777;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--page-background-color);
  color: var(--text-color);
}
