name: Package Extension
on:
  pull_request:
  push:
    branches: [main]
    tags-ignore:
      - "**"
  release:
    types:
      - created

permissions: {}

jobs:
  test:
    name: "Test"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - if: ${{ github.event_name == 'release' }}
        uses: oven-sh/setup-bun@v2
        with:
          no-cache: true

      - if: ${{ github.event_name != 'release' }}
        uses: oven-sh/setup-bun@v2


      - run: bun install

      - run: bun biome ci
      - run: bun oxlint-ci
      - run: bunx eslint
      - run: bunx tsc --noEmit

      - name: Test
        run: bun test

  package:
    name: "Package"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - if: ${{ github.event_name == 'release' }}
        uses: oven-sh/setup-bun@v2
        with:
          no-cache: true

      - if: ${{ github.event_name != 'release' }}
        uses: oven-sh/setup-bun@v2

      - run: bun install

      - run: bun build-webview

      - run: bun run package

      - name: Setup Environment
        run: node -e "console.log('PACKAGE_VERSION=' + require('./package.json').version + '\nPACKAGE_NAME=' + require('./package.json').name + '-' + require('./package.json').version)" >> $GITHUB_ENV

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PACKAGE_NAME }}.vsix
          path: ./${{ env.PACKAGE_NAME }}.vsix

      - name: Publish
        if: success() && startsWith(github.ref, 'refs/tags/v')
        run: bun vsce-publish
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}

  jetbrains:
    name: "JetBrains"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - if: ${{ github.event_name == 'release' }}
        uses: oven-sh/setup-bun@v2
        with:
          no-cache: true

      - if: ${{ github.event_name != 'release' }}
        uses: oven-sh/setup-bun@v2

      - run: bun install
      - run: bun build-webview

      - uses: actions/upload-artifact@v4
        with:
          name: "Jetbrains"
          path: "./dist/webview/"
